<html>
<body>
<h2>Check message</h2>
<%= output %>
<%= @event['check']['message'] %>
<p>Click here to silence: <a href="https://monitoring.clustervision.com/#/events">https://monitoring.clustervision.com</a></p>
<h2>Check information</h2>
<table>
<tr><td>Check Name</td><td><%= @event['check']['name'] %></td></tr>
<tr><td>Command:</td><td><%= command %></td></tr>
<tr><td>Status:</td><td><%= status_to_string %></td></tr>
<tr><td>Occurrences:</td><td><%= @event['occurrences'] %></td></tr>
<tr><td>History:</td><td><%= @event['check']['history'] %></td></tr>
<tr><td>Last OK:</td><td><%= Time.at(@event['last_ok']) %></td></tr>
<tr><td>Additional help:</td><td><%= @event['check']['help_info'] %></td></tr>
<tr><td>Additional description:</td><td><%= @event['check']['description'] %></td></tr>
</table>
<img src="<%= @event['check']['imageUrl'] %>"></img>
<img src="<%= @event['check']['grafanaurl']%>&to=<%= @event['timestamp'] %>000"></img>
<h2>Client information</h2>
<table>
<tr><td>Admin GUI:</td><td><%= admin_gui %></td></tr>
<tr><td>Host:</td><td><%= @event['client']['name'] %> (client version <%= @event['client']['version'] %>)</td></tr>
<tr><td>Timestamp:</td><td><%= Time.at(@event['check']['issued']) %></td></tr>
<tr><td>Address:</td><td><%= @event['client']['address'] %></td></tr>
<tr><td>Subscriptions:</td><td><%= @event['client']['subscriptions'] %></td></tr>
<tr><td>Responsible department:</td><td><%= @event['client']['responsible_department'] %></td></tr>
<tr><td>Escalation contact:</td><td><%= @event['client']['standbydienst'] %></td></tr>
</table>
<!--
<h3>debugging</h3>
<%= @event %>
-->
</body>
</html>
